rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /volunteers/{id} {
      allow get, update: if true;
      allow read, write: if request.auth.uid != null;
    }

    match /projectsRequestStatuses/{id} {
      allow read: if true;
      allow create: if request.resource.data.status == 0 && exists(/databases/$(database)/documents/volunteers/$(request.resource.data.volunteer)) && exists(/databases/$(database)/documents/projects/$(request.resource.data.project));
      allow write: if request.auth.uid != null;
    }
    
    match /projects/{id} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }

    match /specialties/{id} {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }
  }
}